@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400&family=Space+Mono&display=swap');

.App {
  text-align: center;
}

.header {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #1E2D2F;
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

th,
td {
    border-bottom: 1px solid;
    padding: 0.2em 0.7em 0.2em 0.7em;
}

th {
    background-color: #dea176;
    color: azure;
    font-weight: 400;
}

.tableContainer {
  overflow-y: auto;
  height: 30em;
}

.offenderTable {
  text-align: center;
  border-collapse: collapse;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  width: 100%;  
}

.graph {
  height: 30em;
  width: 30em;
}