@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400&family=Space+Mono&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #1E2D2F;
}

th,
td {
  color: #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding: 0.2em 0.7em 0.2em 0.7em;
}

th {
    background-color: #FF6700;
    color: #EBEBEB;
    font-weight: 400;
}

.header {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  letter-spacing: 0.3em;
  color: #FF6700;
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}


.tableContainer {
  overflow-y: auto;
  height: 30em;
}

.offenderTable {
  text-align: center;
  border-collapse: collapse;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  width: 100%;  
}


